*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #2C2B2B;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
   list-style: none; 
}
.conteiner{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.header{
    padding-top: 50px;
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;

}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
}
.header__phone{
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    line-height: 53px;
    text-transform: uppercase;
}
.header__title{
    font-weight: 400;
    font-size: 72px;
    color: #fff;
    line-height: 107px;
    text-transform: uppercase;
}
.header__subtitle{
    font-size: 36px;
    line-height: 53px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 30px;
}
.header__descr{
    color: #fff;
    margin-bottom: 30px;
}
.button{
    padding: 15px 55px;
    background-color: #5A0D67;
    border: none;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
}
.button:hover{
    color: #5A0D67;
    background-color: #fff;
}
.social{
    display: flex;
    align-items: center;
    margin-left: 65px;
    padding-bottom: 20px;
    margin-top: 85px;
}
.social__item{
    margin-left: 10px;
}
.header__img-car{
   float: right;
}
.services{
    padding-top: 350px;
    margin-bottom: 100px;

}
.title{
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    text-transform: uppercase;
    margin-bottom: 50px;
    position: relative;
}
.title::after{
    content: ' ';
    width: 80px;
    height: 3px;
    background-color: #2C2B2B;
    position: absolute;
    top: 20px;
    margin-left: 20px;
}
.services__inner{
    display: flex;
}
.services__content{
    width: 505px;
    margin-right: 95px;
}
.services__content-title{
    color: #5A0D67;
    line-height: 27px;
    font-weight: 300;
}
.services__content-box{
    margin-bottom: 50px;
}
.services__content-textbox{
    margin-bottom: 12px;
}
.services__content-text{
    margin-bottom: 12px;
    font-weight: 300;
    line-height: 27px;
    font-size: 18px;
    margin-bottom: 12px;
}

.button--decor{
   border: 2px solid #5A0D67;
   position: relative;
}
.button--decor::after{
    content: 'ЖМИ';
    color: #c4c4c4;
    position: absolute;
    margin-left: 130px;
}
.button--decor::before{
    content: ' ';
    width: 80px;
    height: 2px;
    background-color: #c4c4c4;
    position: absolute;
    margin-left: 188px;
    top: 22px;
}
.services__list{
    list-style: none;
    counter-reset: my-counter;
}
.services__item{
    counter-increment: my-counter;
    border: 2px solid #c4c4c4;
    margin-bottom: 12px;
    width: 450px;
    padding: 10px 15px 10px 113px;
    position: relative;
    transition: all .5s;
}
.services__item::before{
    content: '0' counter(my-counter);
    position: absolute;
    left: 20px;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    color: #c4c4c4;
    transform: rotate(270deg);
    transition: all .5s;
}
.services__item-title{
    font-size: 24px;
    font-weight: 300;
}

.services__item:hover{
    border: 2px solid #5A0D67;
    width: 500px;
}
.services__item:hover::before{
    color: #5A0D67;
}
.services__item:hover .services__item-title{
    color: #5A0D67;
}
.question{
    margin-bottom: 100px;
}
.question__inner{
    display: flex;
}
.question__img{
    margin-right: 95px;
}
.question__descr{
    background-color: #21062A;
    color: #fff;
    width: 785px;
    padding: 23px 284px 45px 180px;
}
.question__descr-box{
    margin-bottom: 20px;
}
.question__descr-title{
    font-size: 36px;
    font-weight: 400;
    line-height: 53px;
}
.question__descr-subtitle{
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
}
.question__descr-text{
    color: #c4c4c4;
}
.carousel{
    margin-bottom: 100px;
}
.carousel__item{
    margin: 0 -3px;
}
.carusel__item-box{
    border: 1px solid #c4c4c4;
    padding: 6px 6px 16px 6px;
    margin: 0 7px;
    text-align: center;
    transition: all, .5s;
}
.carusel__item-box:hover{
    color: #fff;
    background-color: #5A0D67;
    border: 2px solid #5A0D67;
}
.carousel__item-img{
    max-width: 100%;
    margin-bottom: 23px;
}
.carousel__item-title{
    font-weight: 300;
    margin-bottom: 5px;
}
.carousel .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
}
.carousel .slick-dots button{
    font-size: 0;
    border: none;
    padding: 0;
    margin: 0 10px;
    background-color: #c4c4c4;
    width: 50px;
    height: 2px;
}
.carousel .slick-dots button:hover{
    background-color: #5A0D67;
}
.footer__top{
    display: flex;
    justify-content: space-between;
}
.footer__contact{
}
.footer__contact-item{
    margin-bottom: 20px;
}
.footer__contact-title{
    color: #5A0D67;
}
.footer__contact-text{
    color: #2C2B2B;
}
.footer__application{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 600px;
    background-color: #21062A;
}
.title--decor{
    color: #fff;
    margin-top: 50px;
    margin-left: 128px;
    margin-bottom: 16px;
    
}
.title--decor::after{
    background-color: #fff;
    
}
.footer__button{
    font-family: 'Oswald', sans-serif;
    border: 1px solid #fff;
    width: 450px;
    padding: 24px 77px;
    background-color: #21062A;
    color: #c4c4c4;
    margin-left: 75px;
    margin-bottom: 12px;
}
.footer__button-1{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border: none;
  background-color: #5A0D67;
  color: #fff;
  padding: 15px 55px;
  margin-top: 78px;
  margin-bottom: 57px;
  width: 250px;
  margin-left: 175px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  
}
.footer__button-1:hover{
    color: #5A0D67;
    background-color: #fff;
}
.footer__bottom{
    background-color: #21062A;   
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.footer__social{
    margin: 0;
}
.footer__bottom-text{
    color: #fff;
}

@media (max-width: 900px){
    .header__phone{
        font-size:  24px;
        line-height: 36px;
    }
    .header__title{
        font-size: 54px;
        line-height: 74px;
    }
    .header__subtitle{
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .social{
        margin-left: 30px;
        margin-top: 40px;
    }
}